body * {
  box-sizing: border-box;
  /*border: solid 1px lawngreen;*/
  background-color: #fafafa;
}

h1,
h2,
h3 {
  font-family: "Comfortaa";
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 5em;
  top: 0;
  position: fixed;
}

.navbar * {
  background-color: white;
}

.card {
  border: solid 1px #dbdbdb;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.commentSection {
  border: solid 1px #dbdbdb;
}

.card > * {
  padding-left: 10px;
  padding-right: 10px;
}

.padded {
  padding-left: 20px;
  padding-right: 20px;
}

.paddedAround {
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
}

.stories {
  background-color: white;
  right: 65%;
  border: solid 1px #dbdbdb;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.stories * {
  background-color: white;
}

.recPanel {
  width: 293px;
  height: 100%;
  left: 65%;
  position: fixed;
}

.left {
  padding-right: 293px;
}

.postPanel {
  width: 566px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card > .post {
  width: 566px;
  height: auto;
  border-radius: 0;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.suggestedProfile {
  align-items: center;
  justify-content: space-around;
}

.profilePreview {
  align-items: center;
}

.smallPadding {
  padding: 10px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grow {
  width: 500px;
  height: 30px;
}

.commentButton {
  margin-left: 10px;
}

.subtitle {
  color: #545454;
}

.storyRead {
  border: solid 3px #c3c3c3;
}

a {
  color: #3d96ef;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  width: inherit;
  height: inherit;
}

.far.fa-2x {
  margin: 0;
}

i {
  font-size: 50;
}

input {
  border: none;
}

@media only screen and (max-width: 893px) {
  .recPanel {
    display: none;
  }

  .left {
    padding-right: 0px;
  }
}
