<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="main">
      <div class="col left">
        {% include 'includes/stories.html' %} {% include 'includes/cards.html' %}
      </div>
      {% include 'includes/suggestions.html' %}
      </aside>
    </div>
  </body>
</html>

<!--- I would consider having an alt-text section that 
  user can input when making their post and pass that onto
  the img element --->
